extends layout
block content
  - var subtitle = "Choose Your Path"
  include partials/header
  div#path-select
    div#update-bot.choice
      a(href='/bot')
        div.icon
      h3 Manage Your Bot
    div#view-tournament.choice
      a(href='/tournaments')
        div.icon
      h3 View Tournaments
    div#view-history.choice
      a(href='/games')
        div.icon
      h3 View Past Matches
    br
    div.howto!= md(instructions)