doctype 5
html
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/siofu/client.js')
    script(src='/scripts/aliens.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    title aliens
  body
    p Logged in as #{email} 
      a(href='/logout') (log out)
    div#upload-area
      h3 Upload Bot
      input#bot-file(type='file')
      button#bot-upload upload bot
    form
      select#botlist1
      label vs
      select#botlist2
      button#newgame new game
    button#animate-game animate game
    span slow
    input#turn-speed(type='range', min='0', max='950')
    span fast
    canvas#game(width=500, height=500)
    ul#turns
