extends layout
block content
  h1 SDW Bot-Wars
  h2 Choose Your Path
  h2#logout
    a(href='/logout') Log Out

  div#path-select
    div#update-bot.choice
      a(href='/bot')
        div.icon
      h3 Update Your Bot
    div#view-tournament.choice
      a(href='/tournament')
        div.icon
      h3 View Current Tournament
    div#view-history.choice
      a(href='/history')
        div.icon
      h3 View Past Matches
    br
    div.howto!= md(instructions)
