doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
    script(data-main='/js/main.js' src='/libs/require.js')
    script(src='/js/requireconfig.js')
  body
    block content
