doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
    script(src='/js/react.min.js')
    script(src='/js/JSXTransformer.js')
    script(src='/js/jquery.min.js')
  body
    block content
