extends layout
block content
  h1 Skookum Bot-Wars
  div.howto
    p Skookum Bot-Wars is an artificial intelligence challenge. Tournaments consist of a series of 1v1 games between bots submitted by users. These games are played on a grid, where each bot has control over a group of colored units. Bots move their units in each turn, with the goal being to eliminate all opposing units. To be successful, bots will need to use a combination of strategy and tactical learning.
    h2
      a(href='/auth/google') Log in with Google to play
