extends layout
block head
  script(src='/javascripts/game.js')
  script(src='/javascripts/test.js')
block content
  - var subtitle = "Test your bot"
  include partials/header

  form
    select#botlist1
      each bot in bots
        option(value= bot.id)
          = bot.name
    label vs
    select#botlist2
      each bot in bots
        option(value= bot.id)
          = bot.name
    button#newgame new game


  div#game-wrapper
    div#p1
      h2.headcount 0
      h3 Headcount
      h2.energyconsumed 0
      h3 Energy Consumed
    canvas#game(width=500, height=500)
    div#p2
      h2.headcount 0
      h3 Headcount
      h2.energyconsumed 0
      h3 Energy Consumed
    br

  div#playback
    div#animate-game
      div.icon
      h3 Animate
    div#controls
      div.beginning
      div.back
      h3#turn Turn 
        span.current 0
        |/
        span.total 0
      div.forward
      div.end
