extends layout
block head
  script
    var roundList = !{JSON.stringify(tournament.games)};
  script(src='/libs/jquery.gracket.min.js')
  script(src='/scripts/tournament.js')
block content
  div.bracket
