extends layout
block head
  script.
    var tournament = !{JSON.stringify(tournament)};
  script(src='/libs/jquery.gracket.min.js')
  script(src='/libs/jqueryuicustom.js')
  script(src='/javascripts/tournament.js')
block content
  include partials/header
  h2#back
    -if(prevpage)
      a(href=prevpage) &#x25C0; Back
    -else
      a(href='/') &#x25C0; Back
  div.bracket-wrapper
    div.bracket