body {
  font-family: "museo-sans", sans-serif;
  text-align: center;
  margin: 50px 0;
}
a {
  text-decoration: none;
  color: #87ceeb;
}
.hidden {
  display: none;
}
h1,
h2,
h3 {
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
}
h2 {
  color: #d3d3d3;
  font-size: 20px;
}
.login a {
  color: #d3d3d3;
  margin: 0;
  position: absolute;
  right: 50px;
  top: 60px;
}
.login a:hover {
  color: #000;
}
#back a {
  color: #d3d3d3;
  margin: 0;
  position: absolute;
  left: 50px;
  top: 60px;
}
#back a:hover {
  color: #000;
}
.howto {
  width: 600px;
  margin: auto;
  color: #a9a9a9;
}
p,
li,
ol {
  text-align: left;
  list-style-type: decimal;
  line-height: 1.5em;
}
.examples {
  margin: auto;
  width: 175px;
}
.examples.json {
  text-align: left;
  width: 300px;
}
pre {
  border: 1px solid #d3d3d3;
  padding: 5px;
  margin: auto;
  width: 300px;
  text-align: left;
}
#path-select {
  width: 1000px;
  margin: auto;
}
#path-select .choice {
  display: inline-block;
  margin: 50px;
}
#path-select #test-bot {
  margin-top: 0;
}
#update-bot .icon {
  width: 200px;
  height: 240px;
  background: url("/images/botHead.png") no-repeat 0 0;
  background-size: 100%;
}
#update-bot .icon:hover {
  background-position: 0 -240px;
}
#view-tournament .icon {
  width: 300px;
  height: 299px;
  background: url("/images/bracket.png") no-repeat 0 0;
  background-size: 100%;
}
#view-tournament .icon:hover {
  background-position: 0 -299px;
}
#view-history .icon {
  width: 200px;
  height: 176px;
  background: url("/images/history.png") no-repeat 0 0;
  background-size: 100%;
}
#view-history .icon:hover {
  background-position: 0 -178px;
}
#test-bot .icon {
  width: 87px;
  height: 95px;
  background: url("/images/test.png") no-repeat 0 0;
  background-size: 100%;
  margin-left: 30px;
}
#test-bot .icon:hover {
  background: url("/images/test-hover.png") no-repeat 0 0;
  background-size: 100%;
}
.success {
  width: 600px;
  margin: auto;
  display: none;
  color: #008000;
  text-align: center;
}
.waiting {
  width: 600px;
  margin: auto;
  display: none;
  text-align: center;
}
.error {
  width: 600px;
  margin: auto;
  display: none;
  color: #f00;
}
#bot-file-dropzone {
  border: 5px dashed #d3d3d3;
  padding: 25px;
  margin: 25px;
}
form h4 {
  color: #d3d3d3;
  margin-bottom: 5px;
}
#game-wrapper {
  width: 1000px;
  margin: auto;
  padding: 20px;
}
#game-wrapper br {
  clear: both;
}
canvas#game {
  border: 1px solid #000;
  margin: 20px 75px;
  float: left;
}
canvas#game.test {
  float: none;
}
#p1,
#p2 {
  float: left;
  width: 170px;
}
#p1 h2,
#p2 h2 {
  color: #000;
}
#p1 h3,
#p2 h3 {
  color: #d3d3d3;
  font-size: 16px;
}
#p1 img,
#p2 img {
  width: 150px;
  border-radius: 50%;
  border: 5px solid;
}
#p1 .headcount {
  color: #f26140;
}
#p1 .energyconsumed {
  color: #d3d3d3;
}
#p1 img {
  border-color: #f26140;
}
#p1 h3 {
  margin: 0;
}
#p2 .headcount {
  color: #6ea1d7;
}
#p2 .energyconsumed {
  color: #d3d3d3;
}
#p2 img {
  border-color: #6ea1d7;
}
#p2 h3 {
  margin: 0;
}
.energyconsumed {
  font-size: 32px;
  margin: 20px 0 0 0;
}
.headcount {
  font-size: 72px;
  margin: 0;
}
#playback {
  width: 1000px;
  margin: auto;
  padding: 10px;
  text-align: center;
}
#animate-game {
  float: left;
  margin-left: 50px;
}
#animate-game .icon {
  margin: auto;
  background: url("/images/iconSprite.png") no-repeat -23px -26px;
  background-size: 426px;
  width: 42px;
  height: 47px;
}
#controls {
  width: 650px;
  margin: auto;
}
#controls div,
#controls h3 {
  display: inline-block;
  margin: 0 20px;
}
#controls .beginning {
  background: url("/images/iconSprite.png") no-repeat -146px -62px;
  background-size: 426px;
  width: 40px;
  height: 23px;
}
#controls .beginning:hover {
  background-position: -146px -14px;
}
#controls .end {
  background: url("/images/iconSprite.png") no-repeat -291px -62px;
  background-size: 426px;
  width: 40px;
  height: 23px;
}
#controls .end:hover {
  background-position: -291px -14px;
}
#controls .forward {
  background: url("/images/iconSprite.png") no-repeat -250px -62px;
  background-size: 426px;
  width: 20px;
  height: 23px;
}
#controls .forward:hover {
  background-position: -250px -14px;
}
#controls .back {
  background: url("/images/iconSprite.png") no-repeat -207px -62px;
  background-size: 426px;
  width: 20px;
  height: 23px;
}
#controls .back:hover {
  background-position: -207px -14px;
}
#controls #turn {
  width: 170px;
}
#controls #turn .current {
  font-size: 32px;
  margin-left: 5px;
}
.gamelist,
.tournamentlist {
  width: 600px;
  margin: auto;
}
.gamelist a,
.tournamentlist a {
  display: block;
  color: #d3d3d3;
  border-top: 1px solid #d3d3d3;
  padding: 5px;
}
.gamelist a:first-child,
.tournamentlist a:first-child {
  border-top: none;
}
.gamelist a:hover,
.tournamentlist a:hover {
  color: #000;
}
.gamelist .desc,
.tournamentlist .desc {
  float: left;
}
.gamelist .time,
.tournamentlist .time {
  float: right;
}
.gamelist br,
.tournamentlist br {
  clear: both;
}
.gist {
  width: 1000px;
  margin: auto;
  text-align: left;
}
.bracket-wrapper {
  width: 1000px;
  margin: auto;
  border: 1px solid #000;
  overflow: hidden;
}
.g_gracket {
  cursor: move;
  font-family: helvetica;
  width: 9999px;
  background-color: #fff;
  padding: 55px 15px 5px;
  line-height: 100%;
  position: relative;
  overflow: hidden;
}
.g_round {
  float: left;
  margin-right: 70px;
}
.g_game {
  position: relative;
  margin-bottom: 15px;
}
.g_gracket h3 {
  margin: 0;
  padding: 10px 8px 8px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}
.g_team {
  background: #f26140;
}
.g_team:last-child {
  background: #6ea1d7;
}
.g_round:last-child {
  margin-right: 20px;
}
.g_winner {
  background: #444;
}
.g_winner .g_team {
  background: none;
}
.g_current {
  cursor: pointer;
  background: #a9a9a9 !important;
}
.g_round_label {
  top: -5px;
  font-weight: normal;
  color: #ccc;
  text-align: center;
  font-size: 18px;
}
