body
  font-family helvetica
  text-align center
ul
  text-align center
  padding 0
li
  text-decoration none
  display inline-block
  padding 10px
li.selected
  background-color red
canvas
  border 1px solid black
  margin auto
  display block
#animate-game
  margin-right 10px
a
  text-decoration none
  color #87ceeb
.hidden
  display none
.tournament
  .round
    vertical-align middle
    display inline-block
    .match
      width 100px
      color black
      .p1
        border-top 1px solid black
        border-right 1px solid black
      .p2
        border-bottom 1px solid black
        border-right 1px solid black
