body {
  font-family: "museo-sans" sans-serif;
  text-align: center;
  margin: 50px 0;
}
ul {
  text-align: center;
  padding: 0;
}
li.selected {
  background-color: #f00;
}
canvas {
  border: 1px solid #000;
  margin: auto;
  display: block;
}
#animate-game {
  margin-right: 10px;
}
a {
  text-decoration: none;
  color: #87ceeb;
}
.hidden {
  display: none;
}
h1,
h2,
h3 {
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
}
h2 {
  color: #d3d3d3;
  font-size: 20px;
}
#logout {
  color: #d3d3d3;
  margin: 0;
  position: absolute;
  right: 50px;
  top: 60px;
}
.howto {
  width: 600px;
  margin: auto;
  color: #a9a9a9;
}
p,
li,
ol {
  text-align: left;
  list-style-type: decimal;
}
.examples {
  margin: auto;
  width: 175px;
}
.examples.json {
  text-align: left;
  width: 300px;
}
pre {
  border: 1px solid #d3d3d3;
  margin: 5px;
  padding: 5px;
}
#path-select {
  width: 1000px;
  margin: auto;
}
#path-select .choice {
  display: inline-block;
  margin: 50px;
}
#update-bot .icon {
  width: 200px;
  height: 240px;
  background: url("/images/botHead.png") no-repeat 0 0;
  background-size: 100%;
}
#update-bot .icon:hover {
  background-position: 0 -240px;
}
#view-tournament .icon {
  width: 300px;
  height: 299px;
  background: url("/images/bracket.png") no-repeat 0 0;
  background-size: 100%;
}
#view-tournament .icon:hover {
  background-position: 0 -299px;
}
#view-history .icon {
  width: 200px;
  height: 176px;
  background: url("/images/history.png") no-repeat 0 0;
  background-size: 100%;
}
#view-history .icon:hover {
  background-position: 0 -178px;
}
.g_gracket {
  width: 9999px;
  background-color: #fff;
  padding: 55px 15px 5px;
  line-height: 100%;
  position: relative;
  overflow: hidden;
}
.g_round {
  float: left;
  margin-right: 70px;
}
.g_game {
  position: relative;
  margin-bottom: 15px;
  min-width: 150px;
}
.g_gracket h3 {
  margin: 0;
  padding: 10px 8px 8px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}
.g_team {
  background: #c00;
}
.g_team:last-child {
  background: #03c;
}
.g_round:last-child {
  margin-right: 20px;
}
.g_winner {
  background: #444;
}
.g_winner .g_team {
  background: none;
}
.g_current {
  cursor: pointer;
  background: #800080 !important;
}
.g_round_label {
  top: -5px;
  font-weight: normal;
  color: #ccc;
  text-align: center;
  font-size: 18px;
}
