body
  font-family helvetica
  text-align center
  margin 0
ul
  text-align center
  padding 0
li
  text-decoration none
  display inline-block
  padding 10px
li.selected
  background-color red
canvas
  border 1px solid black
  margin auto
  display block
#animate-game
  margin-right 10px
a
  text-decoration none
  color #87ceeb
.hidden
  display none
.g_gracket { width: 9999px; background-color: #fff; padding: 55px 15px 5px; line-height: 100%; position: relative; overflow: hidden;}
.g_round { float: left; margin-right: 70px; }
.g_game { position: relative; margin-bottom: 15px; min-width: 150px; }
.g_gracket h3 { margin: 0; padding: 10px 8px 8px; font-size: 18px; font-weight: normal; color: #fff}
.g_team { background: #CC0000; }
.g_team:last-child {  background: #0033CC; }
.g_round:last-child { margin-right: 20px; }
.g_winner { background: #444; }
.g_winner .g_team { background: none; }
.g_current { cursor: pointer; background: #444!important; }
.g_round_label { top: -5px; font-weight: normal; color: #CCC; text-align: center; font-size: 18px; }
