body
  font-family helvetica
  text-align center
ul
  text-align center
  padding 0
li
  text-decoration none
  display inline-block
  padding 10px
li.selected
  background-color red
canvas
  border 1px solid black
  margin auto
  display block
#bot-drop
  background-color lightgrey
  height 20px
  width 200px
  padding 10px
  margin 10px auto
#animate-game
  margin-right 10px
