body {
  font-family: helvetica;
  text-align: center;
}
ul {
  text-align: center;
  padding: 0;
}
li {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}
li.selected {
  background-color: #f00;
}
canvas {
  border: 1px solid #000;
  margin: auto;
  display: block;
}
#animate-game {
  margin-right: 10px;
}
a {
  text-decoration: none;
  color: #87ceeb;
}
