extends /layout
block content
  include /partials/header
  h2#back
    a(href='/') &#x25C0; Back
  h2 Past Tournaments
  div.tournamentlist
    -for(var i=0; i<tournaments.length; i++)
      -var tournament = tournaments[i];
      a(href='/tournament/' + tournament.id).tournament
        div.desc #{tournament.description}
        -var date = (tournament.time.getMonth()+1)+'/'+tournament.time.getDate()+'/'+tournament.time.getFullYear();
        div.time #{date} &#x25B6;
        br