body
  padding: 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color #00B7FF

form label, form input
  display block

.hidden
  display none

.modal-backdrop
  background-color rgba(0, 0, 0, 0.8)
  position absolute
  left 0
  right 0
  bottom 0
  top 0

.modal-content
  background-color white
  border 2px solid black
  position absolute
  top 20px
  right 20px
  left 20px
  padding 20px

.user-edit, .user-delete
  display block
